<!DOCTYPE html>
<html>

<head>
	<style>
		body {
			margin-left: 0;
		}

		.titleBackground {
			background-color: #62B0CB;
			width: 55%;
			height: 1.5em;
			border-radius: 0px 0px 5em 0px;
			align-items: center;
			justify-content: end;
			box-shadow: 0 4px 2px 2px #919191;
			margin-bottom: 2%;
		}
		.titleBackgroundError {
			background-color: #ee8c73;
			width: 55%;
			height: 1.5em;
			border-radius: 0px 0px 5em 0px;
			align-items: center;
			justify-content: end;
			box-shadow: 0 4px 2px 2px #919191;
			margin-bottom: 2%;
		}

		h1 {
			font-size: 1.2em;
			margin-left: 10%;
			font-family: 'Mulish', sans-serif;
			font-weight: bold;
			color: white;
		}

		li {
			list-style: none;
			color: black;
			font-family: 'Mulish', sans-serif;
		}

		li::before {
			content: "\2699";
			color: #62B0CB;
		}
	</style>
</head>

<body>
	<section class="titleBackground">
		<h1>Informações Gerais<h1>
	</section>

	<ul class="horizontal">
		<li>
			Aluno(a) =
			<%= parts.studentName %>;
		</li>
		<li>
			Consumo de energia =
			<%= parts.TDP %>;
		</li>

		<li>
			Memória Ram =
			<%= parts.ramMemory %> GB;
		</li>

		<% if (parts.romMemory> 0) { %>
			<li>
				Memória Rom =
				<%= parts.romMemory %> TB;
			</li>
		<% } %>

	</ul>

	<% if (errors.motherBoard) { %>
		<section class="titleBackgroundError">
						<h1>Erro - Placa-mãe<h1>
		</section>
		<ul>
			<li> 
				Erro 1 = <%= errors.motherBoard.situation %> -
				<%= errors.motherBoard.error %>
			</li>
		</ul>
	<% } %>

	<% if (errors.cpu) { %>
		<section class="titleBackgroundError">
						<h1>Erro - Processador<h1>
		</section>
		<ul>
			<li> 
				Erro 1 = <%= errors.cpu.situation %> -
				<%= errors.cpu.error %>
			</li>
		</ul>
	<% } %>

	<% if (errors.cooler || errors.cableCooler) { %>
		<section class="titleBackgroundError">
						<h1>Erro - Cooler<h1>
		</section>
		<ul>
			<% let coolerErrorNum = 1 %>

			<% if (errors.cooler) { %>
				<li> 
					Erro <%= coolerErrorNum %> = <%= errors.cooler.situation %> -
					<%= errors.cooler.error %>
				</li>
				<% coolerErrorNum = coolerErrorNum + 1 %>
			<% } %>

			<% if (errors.cableCooler) { %>
				<li> 
					Erro <%= coolerErrorNum %> = <%= errors.cableCooler.situation %> -
					<%= errors.cableCooler.error %>
				</li>
			<% } %>

		</ul>
	<% } %>

	<% if (errors.ram.length > 0 ) { %>

		<section class="titleBackgroundError">
						<h1>Erro - Memória RAM<h1>
		</section>
		<ul>
			<% let ramErrorNum = 1 %>

			<% errors.ram.forEach(function(ram, index){ %>

				<li> 
					Erro <%= ramErrorNum %> = <%= ram.situation %> -
					<%= ram.error %>
				</li>

				<% ramErrorNum = ramErrorNum + 1 %>

			<% }); %>
			
		</ul>
		
	<% } %>

	<% if (errors.powerSupply || errors.cablePowerSupply) { %>

		<section class="titleBackgroundError">
						<h1>Erro - Fonte de Energia<h1>
		</section>

		<ul>
			<% let psuErrorNum = 1 %>

			<% if (errors.powerSupply) { %>
				<li> 
					Erro <%= psuErrorNum %> = <%= errors.powerSupply.situation %> -
					<%= errors.powerSupply.error %>
				</li>

				<% psuErrorNum = psuErrorNum + 1 %>

			<% } %>

			<% if (errors.cablePowerSupply) { %>

				<li> 
					Erro <%= psuErrorNum %> = <%= errors.cablePowerSupply.situation %> -
					<%= errors.cablePowerSupply.error %>
				</li>

			<% } %>

		</ul>
		
	<% } %>

	<% if (parts.recorder && errors.cableRecorder) { %>
		<section class="titleBackgroundError">
						<h1>Erro - Leitor de DVD<h1>
		</section>
		<ul>
				<li> 
					Erro 1 = <%= errors.cableRecorder.situation %> -
					<%= errors.cableRecorder.error %>
				</li>
		</ul>
	<% } %>

	<% if (errors.cableRom.length > 0) { %>

		<section class="titleBackgroundError">
						<h1>Erro - Memória ROM<h1>
		</section>

		<ul>
			<% let romErrorNum = 1 %>

			<% errors.cableRom.forEach(function(cableRom, index){ %>

				<li> 
					Erro <%= romErrorNum %> = <%= cableRom.situation %> -
					<%= cableRom.error %>
				</li>

				<% romErrorNum = romErrorNum + 1 %>

			<% }); %>
			
		</ul>
		
	<% } %>

	<% if (errors.cableSata) { %>
		<section class="titleBackgroundError">
						<h1>Erro - Conexão SATA <h1>
		</section>
		<ul>
				<li> 
					Erro 1 = <%= errors.cableSata.situation %> -
					<%= errors.cableSata.error %>
				</li>
		</ul>
	<% } %>


	<% if (parts.motherBoard) { %>
		<section class="titleBackground">
			<h1>Placa-mãe<h1>
		</section>
		<ul>
				<li>
						Chipset =
						<%= parts.motherBoard.chipset %>;
				</li>

				<li>
						Socket =
						<%= parts.motherBoard.socket %>;
				</li>

				<li>
						Suporte M2 =
						<% if (parts.motherBoard.hasSocketM2) { %>
								Possui;
						<% } %>

						<% if (! parts.motherBoard.hasSocketM2) { %>
								Não possui;
						<% } %>

				</li>

				<li>
						Suporta até =
						<%= parts.motherBoard.memorySizeSupport %> de Memória Ram;
				</li>

				<li>
						Quantidade de slots de memória =
						<%= parts.motherBoard.memorySlotAmount %>;
				</li>

				<li>
						Tipo de slot de memória =
						<%= parts.motherBoard.memorySlotType %>;
				</li>

			<li>
				Frequencia de memória suportada =
				<% parts.motherBoard.memorySlotFrequency.forEach(function(frequency){ %>
					<%= frequency %> MHz -
				<% }); %>;
			</li>

			<li>
				Entrada PCI-Express =
				<% parts.motherBoard.socketPCIE.forEach(function(socket){ %>
					tipo: <%= socket.type %>, versão: <%= socket.version %> --
				<% }); %>;
			</li>
		</ul>
	<% } %>

	<% if (parts.cpu) { %>
			<section class="titleBackground">
					<h1>Processador<h1>
			</section>
			<ul>

					<li>
							Chipset =
							<%= parts.cpu.chipset %>;
					</li>

					<li>
							Socket =
							<%= parts.cpu.socket %>;
					</li>

					<li>
							Frequência mínima de clock =
							<%= parts.cpu.baseClockSpeed %>;
					</li>


					<li>
							Frequência máxima de clock =
							<%= parts.cpu.maximumBoostSpeed %>;
					</li>


					<li>
							Cache =
							<%= parts.cpu.cache %>;
					</li>

					<li>
							Core =
							<%= parts.cpu.core %>;
					</li>

					<li>
							Threads =
							<%= parts.cpu.threads %>;
					</li>

					<li>
							Processador gráfico =
							<%= parts.cpu.graphicsProcessor %>;
					</li>

					<li>
							Suporta até =
							<%= parts.cpu.memorySizeSupport %> de Memória Ram;
					</li>

					<li>
							Quantidade de slots de memória =
							<%= parts.cpu.memorySupportAmountSlot %>;
					</li>

					<li>
							Frequencia de memória suportada =
							<% parts.cpu.memorySupportFrequency.forEach(function(frequency){ %>
									<%= frequency %>MHz -
							<% }); %>;
					</li>

			</ul>
	<% } %>

	<% if (parts.cooler) { %>
			<section class="titleBackground">
					<h1>Cooler<h1>
			</section>
			<ul>
					<li>
							Máximo fluxo de ar do fan =
							<%= parts.cooler.fanAirflow %> CFM;
					</li>

					<li>
							Velocidade do Fan
							<%= parts.cooler.speedFan %> RPM;
					</li>

					<li>
							Frequencia de memória suportada =
							<% parts.cooler.compatibilityCpu.forEach(function(compatibilityCpu){ %>
									<%= compatibilityCpu %> -
							<% }); %>;
					</li>
			</ul>
	<% } %>
	
	<% if (parts.ram) { %>
			<% parts.ram.forEach(function(ram, index){ %>
					<section class="titleBackground">
							<h1>ram <%= index + 1 %> <h1>
					</section>
					<ul>

							<li>
									Frequencia da Memória =
									<%= ram.memoryFrequency %> MHz;
							</li>

							<li>
									Frequencia da Memória =
									<%= ram.memorySize %> GB;
							</li>

							<li>
									Tipo de slot =
									<%= ram.memorySlotType %>;
							</li>

					</ul>

			<% }); %>
	<% } %>

	<% if (parts.pciExpress) { %>
			<section class="titleBackground">
					<h1>Placa de vídeo<h1>
			</section>

			<ul>
					<li> 
							CUDA core = 
							<%= parts.pciExpress.CUDACore %>;
					</li>

					<li> 
							Padrão de bus = 
							<%= parts.pciExpress.PCIeVersion %>;
					</li>

					<li> 
							GPU base clock = 
							<%= parts.pciExpress.baseClock %>MHz;
					</li>

					<li> 
							GPU boost clock = 
							<%= parts.pciExpress.boostClock %>MHz;
					</li>

					<li> 
							Interface de memória = 
							<%= parts.pciExpress.memoryInterface %>;
					</li>

					<li> 
							Tamanho de memória = 
							<%= parts.pciExpress.memorySize %> GB;
					</li>

					<li> 
							Velocidade de memória = 
							<%= parts.pciExpress.memorySpeed %>;
					</li>

					<li> 
							Tipo de memória = 
							<%= parts.pciExpress.memoryType %>;
					</li>
			</ul>

	<% } %>
	
	<% if (parts.rom) { %>
			<% parts.rom.forEach(function(rom, index){ %>
					<section class="titleBackground">
							<h1>rom <%= index + 1 %> <h1>
					</section>
					<ul>

							<li>
									Tamanho da memória =
									<%= rom.memorySize %> TB;
							</li>

							<li>
									Velocidade de leitura =
									<%= rom.reading %>;
							</li>

							<li>
									Velocidade de escrita =
									<%= rom.writing %>;
							</li>

							<% if (rom.rotation) { %>
									<li>
											Rotação =
											<%= rom.rotation %>;
									</li>
							<% } %>

					</ul>

			<% }); %>
	<% } %>

	<% if (parts.m2) { %>
			<section class="titleBackground">
					<h1>M2<h1>
			</section>
			<ul>
					<li> 
							Interface = 
							<%= parts.m2.format %>;
					</li>

					<li> 
							Tamanho de memória = 
							<%= parts.m2.memorySize %> TB;
					</li>

					<li> 
							Formato = 
							<%= parts.m2.model %>;
					</li>

					<li>
							Velocidade de leitura =
							<%= parts.m2.reading %>;
					</li>

					<li>
							Velocidade de escrita =
							<%= parts.m2.writing %>;
					</li>
			</ul>

	<% } %>

	<% if (parts.recorder) { %>
			<section class="titleBackground">
					<h1>Leitor de DVD<h1>
			</section>
			<ul>
					<li> 
							Possui
					</li>

			</ul>

	<% } %>

	
	<% if (parts.powerSupply) { %>
			<section class="titleBackground">
							<h1>Fonte de energia<h1>
			</section>
			<ul>
							<li> 
									voltagem = 
									<%= parts.powerSupply.voltage %>;
							</li>

							<li> 
									Capacidade de saída = 
									<%= parts.powerSupply.wattage %> W;
							</li>
			</ul>
	<% } %>


</body>

</html>